html {
    position: relative;
    min-height: 100%;
}
body {
    background: url('background.jpg') no-repeat center;
    background-attachment: fixed;
}

#mainpage {

    background-color: transparent;
    margin-top: 150px;
    padding: 10px;
    
}

nav:hover {
    background-color: black;
    opacity: 0.7;
    
}
.navbar {
    background-color: transparent;
}

.nav-link {
    margin-right: 5px;  ;
}

.white {
    color:white;
    font-family: rock salt;
    font-size: 70px;
    margin:30px;
}

.whitep {

    color:white;
    font-family: creepster;
    font-size: 40px;
    
}

.name {
    width: 220px;
    margin-left: 18px;
}
.test {
    background: brown;
    font-family: creepster;
}

.footer {
    position: absolute;
    bottom: 0;
    font-family: 'Times New Roman', Times, sans-serif;
    color: white;
    text-align: center;
    width: 100%;
    height: 35px;
}

.close {
    right: 0;
    color: white;
}

.modal-title {
    left: 0;
}

.modal-content {
    background-color: transparent;   
    border-radius: 20px; 
    margin-top: 100px;
    opacity: 50;
    color: white;
    /* border: 2px solid skyblue; */
}

.form-control {
    border-radius: 14px;
    border: 2px solid skyblue;
    color: blue;   
        
}

.form-control::placeholder {
    color: black;
}

.form-control:focus {
    color: black;
    opacity: 2;
    background-color: skyblue;
}

.keyboard {
    color: black;
    width: 1000px;
    
}

.col {
    background: skyblue;
    margin: 5px;
    font-size: 24px;
    height: 36px;
    width: 36px;
    text-align: center;
    line-height: 36px;
    border: 1px solid yellow;
    border-radius: 10px;
    
}

.keyboard-inner {
    height: 400px;
    width: 900px;
}

.enter {
    background: skyblue;
    margin: 5px;
    font-size: 24px;
    height: 36px;
    width: 80px;
    text-align: center;
    line-height: 36px;
    border: 1px solid yellow;
    border-radius: 10px;
}

.tab {
    background: skyblue;
    margin: 5px;
    font-size: 24px;
    height: 36px;
    width: 80px;
    text-align: center;
    line-height: 36px;
    border: 1px solid yellow;
    border-radius: 10px;
}

.caps {
    background: skyblue;
    margin: 5px;
    font-size: 24px;
    height: 36px;
    width: 90px;
    text-align: center;
    line-height: 36px;
    border: 1px solid yellow;
    border-radius: 10px;
}

.lshift {
    background: skyblue;
    margin: 5px;
    font-size: 24px;
    height: 36px;
    width: 90px;
    text-align: center;
    line-height: 36px;
    border: 1px solid yellow;
    border-radius: 10px;
}

.rshift {
    background: skyblue;
    margin: 5px;
    font-size: 24px;
    height: 36px;
    width: 90px;
    text-align: center;
    line-height: 36px;
    border: 1px solid yellow;
    border-radius: 10px;
}

.backspace {
    background: skyblue;
    margin: 5px;
    font-size: 24px;
    height: 36px;
    width: 120px;
    text-align: center;
    line-height: 36px;
    border: 1px solid yellow;
    border-radius: 10px;
}

.tilde {
    background: skyblue;
    margin: 5px;
    font-size: 24px;
    height: 36px;
    width: 34px;
    text-align: center;
    line-height: 36px;
    border: 1px solid yellow;
    border-radius: 10px;
}

.top {
    line-height: 20px;
    text-align: left;
    margin-left: 0px;
}

sub {
    margin-left: 10px;
    text-align: center;
}

.space {
    background: skyblue;
    margin: 5px;
    font-size: 24px;
    height: 36px;
    text-align: center;
    line-height: 36px;
    border: 1px solid yellow;
    border-radius: 10px;
    width: 400px;
}
