html {
    position: relative;
    min-height: 100%;
}
body {
    background: url('background.jpg') no-repeat center;
    background-attachment: fixed;
}

#mainpage {

    background-color: transparent;
    margin-top: 150px;
    padding: 10px;
    
}

.main {

    margin: 0;
    padding: 0;
}
nav:hover {
    background-color: black;
    opacity: 0.7;
    
}
.navbar {
    background-color: transparent;
}

.nav-link {
    margin-right: 5px;  ;
}

.form-control {

    border-radius: 10px;
    border-color: grey;
    font-size: 16px;
}

.white {
    color:white;
    font-family: rock salt;
    font-size: 48px;
    margin-bottom:30px;
}

.whitep {

    color:white;
    font-family: creepster;
    font-size: 40px;
    
}


.test {
    background: brown;
    font-family: creepster;
}

.footer {
    position: absolute;
    bottom: 0;
    font-family: 'Times New Roman', Times, sans-serif;
    color: white;
    text-align: center;
    width: 100%;
    height: 35px;
    left: 0;
}

.forgot {

    opacity: 0.9;
    border-radius: 5px;
}

.keyboard {
    color: black;
    width: 1000px;
    height: 500px;
    margin-top: 200px;
    display: none;      
}

.col {
    background: skyblue;
    margin: 5px;
    font-size: 24px;
    height: 36px;
    width: 36px;
    text-align: center;
    line-height: 36px;
    border: 1px solid yellow;
    border-radius: 10px;
    
}

.keyboard-inner {
    height: 400px;
    width: 900px;
}

.enter {
    background: skyblue;
    margin: 5px;
    font-size: 24px;
    height: 36px;
    width: 80px;
    text-align: center;
    line-height: 36px;
    border: 1px solid yellow;
    border-radius: 10px;
}

.tab {
    background: skyblue;
    margin: 5px;
    font-size: 24px;
    height: 36px;
    width: 80px;
    text-align: center;
    line-height: 36px;
    border: 1px solid yellow;
    border-radius: 10px;
}

.caps {
    background: skyblue;
    margin: 5px;
    font-size: 24px;
    height: 36px;
    width: 90px;
    text-align: center;
    line-height: 36px;
    border: 1px solid yellow;
    border-radius: 10px;
}

.lshift {
    background: skyblue;
    margin: 5px;
    font-size: 24px;
    height: 36px;
    width: 90px;
    text-align: center;
    line-height: 36px;
    border: 1px solid yellow;
    border-radius: 10px;
}

.rshift {
    background: skyblue;
    margin: 5px;
    font-size: 24px;
    height: 36px;
    width: 90px;
    text-align: center;
    line-height: 36px;
    border: 1px solid yellow;
    border-radius: 10px;
}

.backspace {
    background: skyblue;
    margin: 5px;
    font-size: 24px;
    height: 36px;
    width: 120px;
    text-align: center;
    line-height: 36px;
    border: 1px solid yellow;
    border-radius: 10px;
}

.tilde {
    background: skyblue;
    margin: 5px;
    font-size: 24px;
    height: 36px;
    width: 34px;
    text-align: center;
    line-height: 36px;
    border: 1px solid yellow;
    border-radius: 10px;
}

.top {
    line-height: 20px;
    text-align: left;
    margin-left: 0px;
}

sub {
    margin-left: 10px;
    text-align: center;
}

.space {
    background: skyblue;
    margin: 5px;
    font-size: 24px;
    height: 36px;
    text-align: center;
    line-height: 36px;
    border: 1px solid yellow;
    border-radius: 10px;
    width: 400px;
}

.paragraph  {
    height: 150px;
    width: auto;
    opacity: 0.8;
    background: skyblue;
    font-size: 40px;
    border: 2px solid yellow;

    
}
